<h1>New post</h1>
<%= form_for :post, url: posts_path do |f| %>
  <div class="form-group">
    <%= f.text_area :text, class: "form-control" %>
  </div>
  <%= f.submit "Create", class: "btn btn-default" %>
<% end %>
