<header>
  <ul>
    <% if @current_user.nil? %>
      <li><%= link_to "Sign in", login_path %></li>
    <% elsif %>
      <li><%= link_to "Create post", new_post_path %></li>
      <li><%= link_to "Sign out", login_path, method: :delete %></li>
    <% end %>
  </ul>
</header>
